:root {
  --primary-color: #219c77;
  --primary-color-transparant: rgba(33, 156, 119, 0.5);
  --secondary-color: black;
  --background-color: #EAF4F4;
  --grey-text: #4B5563;
}

body {
  font-family: monospace;
  background-color: var(--background-color);
}

.hero-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 600px;

  background-image: url("/hero-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cta-button {
  font-weight: semi bold;
  font-size: 15px;

  border-radius: 10px;
  padding: 12px;

  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
}

.aboutme-btn {
  font-size: 15px;
  border-radius: 10px;
  padding: 12px;

  background-color: white;
  color: black;
  text-decoration: none;

  border: solid;
  border-width: 1px;
  border-color: grey;
}

.text-wrapper {
  margin-left: 30px;
  width: 70%;
}
.title-text {
  font-size: 36px;
  margin: 0px;
}

.label-text {
  color: grey;
  font-weight: bold;

}

.description-text {
  color: var(--grey-text);

  font-weight: bold;
  font-size: 15px;
}

.button-wrapper {
  display: flex;
  gap: 20px;
  font-weight: bold;
}

.about-wrapper {
  display: flex;
  width: 100%;
  min-height: 450px;
  flex-direction: row;
  gap: 20px;

  background-color: white;
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  margin-left: 30px;
  margin-top: 30px;
}

.icons-wrapper {
  display: flex;
  flex: 0.3;
  margin-top: 30px;

}

.icons {
  display: flex;
  flex-direction: column;

}

.icons-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.aboutme-text {
  font-weight: bold;
  font-size: 15px;
}

.material-symbols-outlined {
  font-size: 40px;
  color: var(--primary-color);
}

.light-text {
  font-weight: lighter;
  font-size: 13px;
}
